<% @expenses = query do %>
  with c_exp as (
    select
      replace(account, 'Cancer:Expenses:', '') as "Expense",
      sum(amount) as "Amount"
    from
      ledger
    where
      account ~ '^Cancer:Expenses'
    group by
      account
    order by
      account
  )
  select
    "Expense",
    "Amount"
  from c_exp
  union all
  select
    'Total' as "Expense",
    sum("Amount") as "Amount"
  from
    c_exp
<% end %>
<% @payments = query do %>
  select
    replace(account, 'Cancer:', '') as "Provider",
    sum(amount) as "Amount"
  from
    ledger
  where
    account ~ '^Cancer'
    and account !~ '^Cancer:Expenses'
    and account !~ '^Cancer:Totals'
  group by
    account
  order by
    account
<% end %>
<% @claims = query do %>
  with expanded as (
    select
      xtn_id,
      xtn_date,
      checknum,
      note,
      account,
      amount,
      replace(replace(trim(tags), '\n ', E','), ': ', E'=>')::hstore as tags
    from
      ledger
    where
      account ~ '^Cancer'
  ),
  claims as (
    select
      *
    from
      expanded
    where
      account ~ '^Cancer:Expenses'
  ),
  discounts as (
    select
      *
    from
      expanded
    where
      account ~ '^Cancer:Insurance Discount'
  ),
  copays as (
    select
      *
    from
      expanded
    where
      account ~ '^Cancer:Copays'
  )
  select
    claims.xtn_date as "Date",
    claims.tags -> 'ClaimNum' as "ClaimNum",
    claims.note as "Provider",
    replace(claims.account, 'Cancer:Expenses:', '') as "Expense",
    claims.tags -> 'Received' as "Received",
    claims.tags -> 'Processed' as "Processed",
    claims.amount as "Claim",
    abs(coalesce(discounts.amount, 0)) as "Discount",
    abs(coalesce(copays.amount, 0)) as "Copay",
    claims.amount - abs(coalesce(discounts.amount, 0)) - abs(coalesce(copays.amount, 0)) as "Paid"
  from
    claims
    left outer join discounts using (xtn_id)
    left outer join copays using (xtn_id)
  order by
    claims.xtn_date
<% end %>
<% @day = (Date.today - Date.parse('2012-12-26')).to_i %>
<div class="page-header">
  <h1>Cancer Treatment <small>Today is day <%= @day %></small></h1>
</div>
<div class="row">
  <div class="span6">
    <%= table @expenses do |t|
          t.link /Expense/ => '/reports/_register?account=Cancer:Expenses::this'
        end %>
  </div>
  <div class="span6">
    <%= table @payments %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= table @claims do |t|
          t.link /ClaimNum/ => '/files/eobs/:1.pdf'
        end %>
  </div>
</div>
