<% @query = query do %>
select
    account as "Account",
    sum(amount) as "Total"
from
    ledger
group by
    account
order by
    account
<% end %>
<div class="page-header">
  <h1>All Accounts</h1>
</div>
<div class="row">
  <div class="span12">
    <%= table(@query) do |t|
          t.link /Account/ => '/reports/register?account=:0'
        end %>
  </div>
</div>
