<div class="page-header">
  <h1>Budget Summary</h1>
</div>
<div class="row">
  <div class="span12">
    <%= table BudgetSummaryReport.run do |t|
          t.link /Month/ => '/reports/budget_detail?month=:this'
        end %>
  </div>
</div>
