<% @stash = query do %>
  with months as (
    select
        xtn_month
    from
        accounts_months
    where
        xtn_month >= '2015-01-01'
    group by
        xtn_month
    order by
        xtn_month
),
cash_assets as (
    select
        xtn_date,
        xtn_month,
        amount
    from
        ledger
    where
        account ~ '(Assets:Schwab:Checking|Assets:Amex|Assets:BofA)'
    order by
        xtn_date,
        amount
),
ending_prices as (
    select 
        xtn_month::date as xtn_month,
        commodity, 
        price
    from (
        select 
            date_trunc('month', price_date) as xtn_month,
            commodity,
            price,
            row_number() over (partition by date_trunc('month', price_date), commodity order by price_date desc) as rk
       from
            prices
    ) x
    where rk = 1
),
stocks as (
    select
        xtn_month,
        commodity,
        sum(amount) as amount
    from
        ledger
    where
        account ~ 'Assets:Investments'
    group by
        xtn_month,
        commodity
    order by
        xtn_month,
        commodity
),
stock_assets as (
    select
        xtn_month,
        sum(amount * (select price from ending_prices p where p.xtn_month = x.xtn_month and p.commodity = x.commodity))  as amount
    from (
        select
            xtn_month,
            commodity,
            (select sum(amount) from stocks s where s.commodity = l.commodity and xtn_month <= m.xtn_month) as amount
        from
            months m,
            (select distinct commodity from stocks) l
        order by
            xtn_month,
            commodity
    ) x
    group by
        xtn_month
),
liabilities as (
   select
       xtn_date,
       xtn_month,
       amount
   from
       ledger
   where
       account ~ 'Liabilities'
       and account !~ '(Funds|Mortgage)'
)
select
    xtn_month as "Month",
    cash as "Cash",
    stock as "Stock",
    liabilities as "Liabilities",
    cash + stock + liabilities as "Stash"
from (
    select
        xtn_month,
        (select sum(amount) from cash_assets where xtn_date < months.xtn_month + '1 month'::interval) as cash,
        (select amount from stock_assets s where s.xtn_month = months.xtn_month) as stock,
        (select sum(amount) from liabilities where xtn_date < months.xtn_month + '1 month'::interval) as liabilities
    from
        months
) x
<% end %>

<div class="page-header">
  <h1>Stash</h1>
</div>
<div class="row">
  <div class="span12">
    <%= @stash.error %>
    <%= table @stash %>
  </div>
</div>
